{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg rounded-4 border-0">
        <div class="card-header bg-white text-center fs-5 fw-semibold rounded-top-4 border-0">
          Вход в личный кабинет
        </div>
        <div class="card-body rounded-bottom-4 bg-light">
          <form method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
              <div class="mb-4">
                {% bootstrap_field field field_class="form-control rounded-3 py-2 px-3" %}


                {% if field.name == 'password' and form.non_field_errors %}
                  <div class="text-danger small mt-1">
                    {{ form.non_field_errors }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}

            <div class="text-center mt-4 mb-2">
              {% bootstrap_button button_type="submit" content="Войти" button_class="btn btn-primary px-4 py-2 rounded-3 shadow-sm" %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
